<a href="https://colab.research.google.com/github/path2deep/Kotak_Educational_data/blob/main/Copy_of_compact_usages_login.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import io
import seaborn as sns 
import matplotlib.pyplot as plt
from google.colab import files

# do not touch

In [ ]:
all_schools = list()

In [ ]:
all_schools1 = list()

# Upload

In [ ]:
uploaded = files.upload()

Saving 1812.xlsx to 1812.xlsx

In [ ]:
file = io.BytesIO(uploaded.get("1812.xlsx"))
df = pd.read_excel(file, 'Login History')

dff = pd.read_excel(file, 'Video Usage')

df1 = df.copy()
df2 = df.copy()
df3 = dff.copy()
df4 = dff.copy()

#Method

In [ ]:
df1 =  df.copy()
def students_login(log, input_name):
  global df1
  df1['Date'] = df1['LoginDateTime'].str.split(' ').str[0]

  lst = list()
  for num in range (0, len(df1.index)):
    lst.append('12')
  lst1 = list()
  for num in range (0, len(df1.index)):
    lst1.append('2021')
  
  df1['Year'] = lst1
  df1['Month'] = lst

  df1['Dates'] = df1['Date']+'-'+df1['Month']+'-'+df1['Year']
  df1["Dates"] = pd.to_datetime(df1["Dates"], format="%d-%m-%Y", yearfirst=True)

  #set index
  df1 = df1.set_index('Dates')
  #creating new columns
  df1['Year'] = df1.index.year
  df1['Month'] = df1.index.month
  df1['Day'] = df1.index.day

  #input the students data
  #input_name = input('input_name')
  df_students = df1[df1['Student/Teacher'] == input_name ]
  df_students.head(2)

  #removing the duplicates
  df_students = df_students.drop_duplicates(subset=['StudentName', 'Day'], keep='last')

  #Students login
  st_login = df_students.resample('D').count()
  st_login = st_login.reset_index()

  st_login = st_login[['Dates', 'Student/Teacher']]
  col1 = {'Student/Teacher':'Student_login'}
  st_login = st_login.rename(columns=col1)

  return st_login




df2 =  df.copy()
def teachers_login(log, input_name):
  global df2
  df2['Date'] = df2['LoginDateTime'].str.split(' ').str[0]

  lst = list()
  for num in range (0, len(df2.index)):
    lst.append('12')
  lst2 = list()
  for num in range (0, len(df1.index)):
    lst2.append('2021')
  
  df2['Year'] = lst2
  df2['Month'] = lst

  df2['Dates'] = df2['Date']+'-'+df2['Month']+'-'+df2['Year']
  df2["Dates"] = pd.to_datetime(df2["Dates"], format="%d-%m-%Y", yearfirst=True)

  #set index
  df2 = df2.set_index('Dates')
  #creating new columns
  df2['Year'] = df2.index.year
  df2['Month'] = df2.index.month
  df2['Day'] = df2.index.day

  #input the teacher data
  #input_name = input('input_name')
  df_teacher = df2[df2['Student/Teacher'] == input_name ]
  df_teacher.head(2)

  #removing the duplicates
  df_teacher = df_teacher.drop_duplicates(subset=['StudentName', 'Day'], keep='last')

  tea_login = df_teacher.resample('D').count()
  tea_login =tea_login.reset_index()

  tea_login = tea_login[['Dates', 'Student/Teacher']]
  col2 = {'Student/Teacher':'Teachers_login'}
  tea_login = tea_login.rename(columns=col2)

  return tea_login


df3 = dff.copy()
def students_usage(usages, input_name):
  global df3
  df3['Date'] = df3['LastAccessDateTime'].str.split(' ').str[0]
  df3["Date"] = pd.to_datetime(df3["Date"], format="%d-%m-%Y", yearfirst=True)

  #set index
  df3 = df3.set_index('Date')

  #creating new columns
  df3['Year'] = df3.index.year
  df3['Month'] = df3.index.month
  df3['Weekdays'] = df3.index.weekday
  df3['Day'] = df3.index.day

  #input the students data
  #input_name = input('input_name')
  df_students = df3[df3['Student/Teacher'] == input_name ]

  data = df_students.reset_index()
  data = data.groupby(['Date', 'School','StudentName'], as_index=True).agg({'TotalViewDuration': 'sum'})
  data = data.reset_index()
  data = data.groupby(['Date']).agg({'TotalViewDuration': 'median'})
  data = data.reset_index()

  st_usage = data.copy()

  st_ugage = st_usage.set_index('Date')
  col3 ={'TotalViewDuration':'Student_uasge'}
  st_usage = st_usage.rename(columns= col3)

  return st_usage


df4 = dff.copy()
def teachers_usage(usage, input_name):
  global df4
  df4['Date'] = df4['LastAccessDateTime'].str.split(' ').str[0]
  df4["Date"] = pd.to_datetime(df4["Date"], format="%d-%m-%Y", yearfirst=True)

  #set index
  df4 = df4.set_index('Date')

  #creating new columns
  df4['Year'] = df4.index.year
  df4['Month'] = df4.index.month
  df4['Weekdays'] = df4.index.weekday
  df4['Day'] = df4.index.day

  #input the teacher data
  #input_name = input('input_name')
  df_teachers = df4[df4['Student/Teacher'] == input_name ]

  data_teach = df_teachers.reset_index()
  data_teach = data_teach.groupby(['Date', 'School','StudentName'], as_index=True).agg({'TotalViewDuration': 'sum'})
  data_teach = data_teach.reset_index()

  teacher = data_teach.groupby(['Date']).agg({'TotalViewDuration': 'median'})
  tea = teacher.reset_index()
  
  #frequency
  tea_usage = tea.set_index('Date')
  tea_usage_f = tea_usage.asfreq('D')
  tea_usage_f['TotalViewDuration'] = tea_usage.asfreq('D', fill_value=0)
  tea_usage_f = tea_usage_f.reset_index()
  
  col4 = {'TotalViewDuration':'Teachers_usage'}
  tea_usage_f = tea_usage_f.rename(columns = col4)

  return tea_usage_f

#Students and Teachers

In [ ]:
print("Enter 'Student' in the box")
login1= students_login(df1, input_name = input('input_name'))
print("Enter 'Teacher' in the box")
login2 = teachers_login(df2, input_name = input('input_name'))
print("Enter 'Student' in the box")
usages1 = students_usage(df, input_name = input('input_name'))
print("Enter 'Teacher' in the box")
usages2 = teachers_usage(df, input_name = input('input_name'))

Enter 'Student' in the box
input_nameStudent
Enter 'Teacher' in the box
input_nameTeacher
Enter 'Student' in the box
input_nameStudent
Enter 'Teacher' in the box
input_nameTeacher

#Combine

In [ ]:
login1 = login1.set_index('Dates')
login2 = login2.set_index('Dates')

usages1 = usages1.set_index('Date')
usages2 = usages2.set_index('Date')

def combine(input_school):
  global login1, login2, usages1, usages2
  #combine data
  school = pd.concat([login1,usages1,login2, usages2 ], axis=1)



  lst = list()
  for num in range (0, len(school.index)):
    lst.append('dec')

  lst1 = list()
  for num in range (0, len(school.index)):
    lst1.append(input_school)


  school['Month'] = lst
  school['Schools'] = lst1
  school = school.reset_index()

  col4 = {'index':'Date'}
  school = school.rename(columns=col4)

  return school

In [ ]:
school_data = combine(input_school=input('School_Name'))

School_NameDharamveer Shambhaji

In [ ]:
school_data.tail(3)

         Date  Student_login  ...  Month               Schools
29 2021-12-28            0.0  ...    dec  Dharamveer Shambhaji
30 2021-12-29           10.0  ...    dec  Dharamveer Shambhaji
31 2021-12-30            8.0  ...    dec  Dharamveer Shambhaji

[3 rows x 7 columns]

#Medium

In [ ]:
lst2 = list()
for num in range (0, len(school_data.index)):
  lst2.append('Semi Marathi')

school_data['Medium'] = lst2

In [ ]:
school_data

         Date  Student_login  ...               Schools        Medium
0  2021-11-29            NaN  ...  Dharamveer Shambhaji  Semi Marathi
1  2021-11-30            NaN  ...  Dharamveer Shambhaji  Semi Marathi
2  2021-12-01            8.0  ...  Dharamveer Shambhaji  Semi Marathi
3  2021-12-02            7.0  ...  Dharamveer Shambhaji  Semi Marathi
4  2021-12-03            5.0  ...  Dharamveer Shambhaji  Semi Marathi
5  2021-12-04            6.0  ...  Dharamveer Shambhaji  Semi Marathi
6  2021-12-05            6.0  ...  Dharamveer Shambhaji  Semi Marathi
7  2021-12-06            0.0  ...  Dharamveer Shambhaji  Semi Marathi
8  2021-12-07            0.0  ...  Dharamveer Shambhaji  Semi Marathi
9  2021-12-08            0.0  ...  Dharamveer Shambhaji  Semi Marathi
10 2021-12-09            0.0  ...  Dharamveer Shambhaji  Semi Marathi
11 2021-12-10            0.0  ...  Dharamveer Shambhaji  Semi Marathi
12 2021-12-11            0.0  ...  Dharamveer Shambhaji  Semi Marathi
13 2021-12-12            0.0  ...  Dharamveer Shambhaji  Semi Marathi
14 2021-12-13            0.0  ...  Dharamveer Shambhaji  Semi Marathi
15 2021-12-14            0.0  ...  Dharamveer Shambhaji  Semi Marathi
16 2021-12-15            0.0  ...  Dharamveer Shambhaji  Semi Marathi
17 2021-12-16            0.0  ...  Dharamveer Shambhaji  Semi Marathi
18 2021-12-17            0.0  ...  Dharamveer Shambhaji  Semi Marathi
19 2021-12-18            0.0  ...  Dharamveer Shambhaji  Semi Marathi
20 2021-12-19            0.0  ...  Dharamveer Shambhaji  Semi Marathi
21 2021-12-20            0.0  ...  Dharamveer Shambhaji  Semi Marathi
22 2021-12-21            0.0  ...  Dharamveer Shambhaji  Semi Marathi
23 2021-12-22            0.0  ...  Dharamveer Shambhaji  Semi Marathi
24 2021-12-23            0.0  ...  Dharamveer Shambhaji  Semi Marathi
25 2021-12-24            0.0  ...  Dharamveer Shambhaji  Semi Marathi
26 2021-12-25            0.0  ...  Dharamveer Shambhaji  Semi Marathi
27 2021-12-26            0.0  ...  Dharamveer Shambhaji  Semi Marathi
28 2021-12-27            0.0  ...  Dharamveer Shambhaji  Semi Marathi
29 2021-12-28            0.0  ...  Dharamveer Shambhaji  Semi Marathi
30 2021-12-29           10.0  ...  Dharamveer Shambhaji  Semi Marathi
31 2021-12-30            8.0  ...  Dharamveer Shambhaji  Semi Marathi

[32 rows x 8 columns]

### Schools

In [ ]:
d1 = school_data.copy()

##combine the data

In [ ]:
all_schools.append(d1)

##total

In [ ]:
total = pd.concat(all_schools)
total.head(2)

        Date  Student_login  Student_uasge  ...  Month       Schools     Medium
0 2021-12-03             18          10.22  ...    dec  Bharat Nagar  Semi Urdu
1 2021-12-04             14          25.00  ...    dec  Bharat Nagar  Semi Urdu

[2 rows x 8 columns]

In [ ]:
total.shape

(206, 8)

##download

In [ ]:
total.to_excel('dec_slot2_2.xlsx')

In [ ]:
#d1= school_data.copy()
#d2= school_data.copy()
#d3= school_data.copy()
#d4= school.copy()
#d5= school.copy()
#d6= school.copy()
#d7= school.copy()
#d8= school.copy()
#d9= school.copy()
#d10= school.copy()
#d11= school.copy()
#d12= school.copy()
#d13= school.copy()
#d14= school.copy()
#d15= school.copy()
#d16= school.copy()
#d17= school.copy()
#d18= school.copy()
#d19= school.copy()
#d20= school.copy()
#d21= school.copy()
#d22= school.copy()
#d23= school.copy()
#d24= school.copy()
#d25= school.copy()

In [ ]:
total  = pd.concat[d1, d2, d3, d4, d5, d6. d7, d8, d9, d10,
                  d11, d12, d13, d14, d15, d16, d17, d18, d19, d20,
                  d21, d22, d23, d24, d25]

NameError: ignored

In [ ]:
total.head()

#Plotting

## slot-1

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
df1 = pd.read_csv(io.StringIO(uploaded['login_usages_total - slot-1_aug_sep.csv'].decode('utf-8')))

In [ ]:
df2 = pd.read_csv(io.StringIO(uploaded['login_usages_total - slot-1_oct.csv'].decode('utf-8')))

In [ ]:
df3 = pd.read_csv(io.StringIO(uploaded['login_usages_total - slot-1_nov.csv'].decode('utf-8')))

In [ ]:
df4 = pd.read_csv(io.StringIO(uploaded['dec_slot_1.csv'].decode('utf-8')))

In [ ]:
df = pd.concat([df1, df2, df3, df4], ignore_index=True)

In [ ]:
df.to_excel('complete_slot1.xlsx')

In [ ]:
# Use seaborn style defaults and set the default figure size
sns.set(rc={'figure.figsize':(12, 9)})

In [ ]:
#df = pd.read_csv(io.StringIO(uploaded['slot_1.csv'].decode('utf-8')))
# converting into datetime
df['Date'] = pd.to_datetime(df["Date"])
#set index
df = df.set_index('Date')

# Daily Usage

In [ ]:
# Teachers usages
df_daily1 = df['Teachers_usage'].resample('D').mean()
df_daily1 = df_daily1.reset_index()
df_daily1 = df_daily1.set_index('Date')
# student usages
df_daily2 = df['Student_uasge'].resample('D').mean()
df_daily2 = df_daily2.reset_index()
df_daily2 = df_daily2.set_index('Date')

# Weekly Usages

In [ ]:
# Teachers weekly usages
df_week1 = df['Teachers_usage'].resample('W').mean()
df_week1 = df_week1.reset_index()
df_week1 = df_week1.set_index('Date')
# student weekly usages
df_week2 = df['Student_uasge'].resample('W').mean()
df_week2 = df_week2.reset_index()
df_week2 = df_week2.set_index('Date')

## slot-2

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
dff1 = pd.read_csv(io.StringIO(uploaded['oct_slot_2_1.csv'].decode('utf-8')))

In [ ]:
dff2 = pd.read_csv(io.StringIO(uploaded['oct_slot_2_2.csv'].decode('utf-8')))

In [ ]:
dff3 = pd.read_csv(io.StringIO(uploaded['nov_slot_2_1.csv'].decode('utf-8')))

In [ ]:
dff4 = pd.read_csv(io.StringIO(uploaded['nov_slot_2_2.csv'].decode('utf-8')))

In [ ]:
dff5 = pd.read_csv(io.StringIO(uploaded['dec_slot_2.csv'].decode('utf-8')))

In [ ]:
dff = pd.concat([dff1, dff2, dff3, dff4, dff5], ignore_index=True)

In [ ]:
#dff = pd.read_csv(io.StringIO(uploaded['slot_2.csv'].decode('utf-8')))
# converting to datetime object
dff['Date'] = pd.to_datetime(dff["Date"])
#set index
dff = dff.set_index('Date')

# daily

In [ ]:
# Teachers data
dff_daily1 = dff['Teachers_usage'].resample('D').mean()
dff_daily1 = dff_daily1.reset_index()
dff_daily1 = dff_daily1.set_index('Date')
#student usages
dff_daily2 = dff['Student_uasge'].resample('D').mean()
dff_daily2 = dff_daily2.reset_index()
dff_daily2 = dff_daily2.set_index('Date')

# Weekly

In [ ]:
dff_week1 = dff['Teachers_usage'].resample('W').mean()
dff_week1 = dff_week1.reset_index()
dff_week1 = dff_week1.set_index('Date')


dff_week2 = dff['Student_uasge'].resample('W').mean()
dff_week2 = dff_week2.reset_index()
dff_week2 = dff_week2.set_index('Date')

#Slot3

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
d1 = pd.read_csv(io.StringIO(uploaded['nov_slot_3.csv'].decode('utf-8')))

In [ ]:
d2 = pd.read_csv(io.StringIO(uploaded['dec_slot_3.csv'].decode('utf-8')))

In [ ]:
data = pd.concat([d1, d2], ignore_index=True)

In [ ]:
#dff = pd.read_csv(io.StringIO(uploaded['slot_2.csv'].decode('utf-8')))
# converting to datetime object
data['Date'] = pd.to_datetime(data["Date"])
#set index
data = data.set_index('Date')

## daily

In [ ]:
# Teachers data
data_daily1 = data['Teachers_usage'].resample('D').mean()
data_daily1 = data_daily1.reset_index()
data_daily1 = data_daily1.set_index('Date')
#student usages
data_daily2 = data['Student_uasge'].resample('D').mean()
data_daily2 = data_daily2.reset_index()
data_daily2 = data_daily2.set_index('Date')

## Weekly

In [ ]:
data_week1 = data['Teachers_usage'].resample('W').mean()
data_week1 = data_week1.reset_index()
data_week1 = data_week1.set_index('Date')


data_week2 = data['Student_uasge'].resample('W').mean()
data_week2 = data_week2.reset_index()
data_week2 = data_week2.set_index('Date')

In [ ]:
import matplotlib.dates as mdates

## Plot

## daily plot

In [ ]:
# Start and end of the date range to extract
start, end = '2021-11-15', '2021-12-06'
# Plot daily and weekly resampled time series together
fig, ax = plt.subplots()
ax.plot(df_daily1.loc[start:end, 'Teachers_usage'],
marker='.', linestyle='-', label='Teachers_slot1')

ax.plot(df_daily2.loc[start:end, 'Student_uasge'],
marker='o', markersize=8, linestyle='-', label='Student_slot1')

ax.plot(dff_daily1.loc[start:end, 'Teachers_usage'],
marker='o', markersize=8, linestyle='-', label='Teachers_slot2')

ax.plot(dff_daily2.loc[start:end, 'Student_uasge'],
marker='o', markersize=8, linestyle='-', label='students_slot_2')

ax.plot(data_daily1.loc[start:end, 'Teachers_usage'],
marker='o', markersize=8, linestyle='-', label='Teachers_slot3')

ax.plot(data_daily2.loc[start:end, 'Student_uasge'],
marker='o', markersize=8, linestyle='-', label='students_slot_3')




ax.set_ylabel('Minutes')
ax.set_xlabel('Days ---->')


# Format x-tick labels as 3-letter month name and day number
ax.xaxis.set_major_formatter(mdates.DateFormatter('%b %d'))
ax.set_title('Daily beneficiaries KEF Application usage ', size=18)
ax.legend(loc='left', bbox_to_anchor=(1, 0.5))

## weekly plot

In [ ]:
# Start and end of the date range to extract
start, end = '2021-08-03', '2021-12-06'
# Plot daily and weekly resampled time series together
fig, ax = plt.subplots()
ax.plot(df_week1.loc[start:end, 'Teachers_usage'],
marker='.', linestyle='-', label='Teachers_slot1')

ax.plot(df_week2.loc[start:end, 'Student_uasge'],
marker='o', markersize=8, linestyle='-', label='Student_slot1')

ax.plot(dff_week1.loc[start:end, 'Teachers_usage'],
marker='o', markersize=8, linestyle='-', label='Teachers_slot2')

ax.plot(dff_week2.loc[start:end, 'Student_uasge'],
marker='o', markersize=8, linestyle='-', label='students_slot_2')

ax.plot(data_week1.loc[start:end, 'Teachers_usage'],
marker='o', markersize=12, linestyle='-', label='Teachers_slot3')

ax.plot(data_week2.loc[start:end, 'Student_uasge'],
marker='o', markersize=12, linestyle='-', label='students_slot_3')

ax.set_ylabel('Minutes')
ax.set_xlabel('Weeks ---->')


# Format x-tick labels as 3-letter month name and day number
ax.xaxis.set_major_formatter(mdates.DateFormatter('%b %d'))
ax.set_title('Weekley beneficiaries KEF Application usage ', size=18)
ax.legend(loc='left', bbox_to_anchor=(1, 0.5))