<a href="https://colab.research.google.com/github/path2deep/Kotak_Educational_data/blob/main/Midline_2_2022_23_New_Urdu_assessments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import io
import seaborn as sns 
import matplotlib.pyplot as plt
from google.colab import files

###Upload e-sundram report

In [ ]:
uploaded = files.upload()

Saving al-ittehad.xlsx to al-ittehad.xlsx

In [ ]:
file = io.BytesIO(uploaded.get("al-ittehad.xlsx"))
df1 = pd.read_excel(file, 'STDXUSE_Digital', skiprows=[0])
#columns name
cols = {'Unnamed: 0': "Student/Teacher", 'Unnamed: 1': "School", 'Unnamed: 2':"Course", 'Unnamed: 3': "UserID",
        'Unnamed: 4': "EnrollmentID", 'Unnamed: 5': "StudentName", 'Unnamed: 6': "Division", 'Unnamed: 7': "EmailID",
        'Unnamed: 8': "Gender",
   }
df1 = df1.rename(columns=cols)
df1 = df1[['Student/Teacher', 'School','EnrollmentID','StudentName',"Division"]]

#MCQ
df2 = pd.read_excel(file, 'MCQ Report')

#code
df2 =df2[['School','EnrollmentID', 'StudentName','Division','Subject','Chapter','TestMarksObtained', 'TestMarks', 'Percentage']]
df2 = df2[df2['Subject']=='KEF Assessment']
math = df2[(df2['Chapter']=='Science Midline-2 (Urdu)') |(df2['Chapter']=='Maths Midline - 2 (Semi)')]
science = df2[(df2['Chapter']=='Science baseline (Urdu)') | (df2['Chapter']=='Science Midline-2 (Semi)') ]
english = df2[df2['Chapter']=='English Midline-2']

col1 = {'TestMarksObtained':"Math"}
col2 = {'TestMarksObtained':"Science"}
col3 = {'TestMarksObtained':"English"}
math =    math.rename(columns=col1)
science = science.rename(columns=col2)
english = english.rename(columns=col3)

math = math[['EnrollmentID','Math']]
science = science[['EnrollmentID', 'Science']]
english = english[['EnrollmentID','English']]

base_math = pd.merge(df1,
                      math,
                      
                      on = 'EnrollmentID',
                      how = 'left'
                         )
base_math_sci = pd.merge(base_math,
                      science,
                      
                      on = 'EnrollmentID',
                      how = 'left'
                         )

base_math_sci_eng = pd.merge(base_math_sci,
                      english,
                     
                      on = 'EnrollmentID',
                      how = 'left'
                         )

base_math_sci_eng = base_math_sci_eng[['Student/Teacher', 'School' ,'Division','EnrollmentID','StudentName',
                                       'Math','Science','English']]
base_math_sci_eng= base_math_sci_eng.drop_duplicates(subset=['EnrollmentID'], keep='first')
base_math_sci_eng= base_math_sci_eng.sort_values(by=['Division'])
base_math_sci_eng = base_math_sci_eng[['School', 'Division', 'EnrollmentID', 'StudentName','Math', 'Science', 'English']]

ValueError: ignored

###### Downlaod_assessment_report "write school name in ----- "

In [ ]:
base_math_sci_eng.to_excel('anjuman_riyaz_assessment_report.xlsx')

In [ ]:
base_math_sci_eng.head()

,School,Division,EnrollmentID,StudentName,Math,Science,English
0,Elia Sarvat High School & Jr College,A,KEF_9842,Nagma Khan,NaN,6.0,NaN
51,Elia Sarvat High School & Jr College,A,KEF_10004,Maroof Khan,20.0,6.0,NaN
64,Elia Sarvat High School & Jr College,A,KEF_10007,Md.Farhan Shaikh,11.0,6.0,NaN
79,Elia Sarvat High School & Jr College,A,KEF_10012,Apsar Jahan,8.0,4.0,16.0
43,Elia Sarvat High School & Jr College,A,KEF_10005,Md.Hanif Memon,13.0,3.0,NaN

In [ ]:
base_math_sci_eng.columns

Index(['School', 'Division', 'EnrollmentID', 'StudentName', 'Math', 'Science',
       'English'],
      dtype='object')

In [ ]:
base_math_sci_eng['Division'].unique()

array(['A', 'B'], dtype=object)

In [ ]:
Division_A = base_math_sci_eng[base_math_sci_eng['Division']=='A']
print('The number of students in division A', Division_A.count())
print('The number of students attempted Math Assessments', Division_A['Math'].count())
print('The number of students attempted Science Assessments',Division_A.Science.count())
print('The number of students attempted English Assessments', Division_A.English.count())

Division_B = base_math_sci_eng[base_math_sci_eng['Division']=='B']
print(Division_B.shape)
print(Division_B.shape)
print(Division_B.Math.shape)
print(Division_B.Science.shape)
print(Division_B.English.shape)

The number of students in division A School          31
Division        31
EnrollmentID    31
StudentName     31
Math            21
Science         28
English         15
dtype: int64
The number of students attempted Math Assessments 21
The number of students attempted Science Assessments 28
The number of students attempted English Assessments 15
(36, 7)
(36, 7)
(36,)
(36,)
(36,)